{% extends 'base.html' %}
{% load static %}
{% block title %}
About
{% endblock %}


{% block content %}
<!-- breadcrumbs area start -->
   <div class="breadcrumbs_aree breadcrumbs_bg mb-110" data-bgimg="{% static 'assets/img/bg/hero-bg.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumbs_text">
                    <h1>About Us</h1>
                    <ul>
                        <li><a href="">Home </a></li>
                        <li> // About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs area end -->



<!-- about description section start -->
<div class="about_description_section mb-105">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                    <h2>Our Vision</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmoddll tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercit ullamco laboris
                        nisi ut aliquip ex ea commodo conseql Duis aute irure dolor in reprehendergg in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about_desc wow fadeInUp" data-wow-delay="0.1s" data-wow-duration="1.1s">
                    <h2>Our Store</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmoddll tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veni quis nostrud exercit ullamco laboris
                        nisi ut aliquip ex ea commodo conseql Duis aute irure dolor in reprehendergg in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- about description section end -->
{% endblock %}

