{% load static %}
<!--footer area start-->
<footer class="footer_widgets">
  <div class="container">
      <div class="shipping_area">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="single_shipping d-flex align-items-center">
                      <div class="shipping_icon">
                          <img src="{% static 'assets/img/others/amc.png' %}" alt="">
                      </div>
                      <div class="shipping_text">
                          <h3>Metropolitan College</h3>
                          <p>University of East London</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="single_shipping d-flex align-items-center">
                      <div class="shipping_icon">
                          <img src="{% static 'assets/img/others/elefments.png' %}" alt="">
                      </div>
                      <div class="shipping_text">
                          <h3>Ele{f}ments</h3>
                          <p>Eleftherios Pournos-Georgiou</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="footer_bottom">
          <div class="copyright_right text-center">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>  <a href="{% url 'home' %}"> TechMe</a> Made with <i class="ion-heart"></i> by <a
                      href="">Ele{f}ments</a></p>
          </div>
      </div>
  </div>
</footer>
<!--footer area end-->