{% load static %}

<div class="offcanvas_menu">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="offcanvas_menu_wrapper">
          <div id="menu" class="text-left ">
            <ul class="offcanvas_main_menu">
              <li class="menu-item-has-children active">
                <a href="{% url 'home' %}">Home</a>
              </li>
              <li class="menu-item-has-children"><a href="#">Categories</a>
                <ul class="sub-menu">
                  {% for category in links %}
                  <li><a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li class="menu-item-has-children"><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--offcanvas menu area end-->

<!--header area start-->
<header class="header_section">
  <div class="header_top">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="header_top_inner d-flex justify-content-between">
            <div class="welcome_text">
              <p>World Wide Completely Free Shipping</p>
            </div>
            <div class="header_top_sidebar d-flex align-items-center">
              <ul class="d-flex">
                <li><i class="icofont-envelope"></i> <a href="mailto:techmegr@yandex.com">techmegr@yandex.com</a></li>
                {% if request.user.is_authenticated and request.user.first_name %}
                <li class="account_link"> <i class="icofont-user-alt-7"></i><a href="#">Hi,
                    {{ request.user.first_name }}</a>
                  <ul class="dropdown_account_link">
                    <li><a href="{% url 'order_history' %}">Order History</a></li>
                    <li><a href="{% url 'signout' %}">Log Out</a></li>
                  </ul>
                </li>
                {% else %}
                <li class="account_link"> <i class="icofont-user-alt-7"></i><a href="">Account</a>
                  <ul class="dropdown_account_link">
                    <li><a href="{% url 'signin' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="main_header d-flex justify-content-between align-items-center">
          <div class="header_logo">
            <a class="sticky_none" href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo-let.png' %}" alt=""></a>
          </div>
          <!--main menu start-->
          <div class="main_menu d-none d-lg-block">
            <nav>
              <ul class="d-flex">
                <li><a class="active" href="{% url 'home' %}">Home</a>
                </li>

                <li><a>Categories</a>
                  <ul class="bucker-dropdown">
                    {% for category in links %}
                    <li><a class="dropdown-item" href="{{category.get_url}}">{{category.name}}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
            </nav>
          </div>
          <!--main menu end-->
          <div class="header_account">
            <ul class="d-flex">
              <li class="header_search"><a href="javascript:void(0)"><i class="pe-7s-search"></i></a>
              </li>
              <li class="shopping_cart"><a href="{% url 'cart_detail' %}"><i class="pe-7s-shopbag"></i></a>
                <span class="item_count">({{item_count}})
                  </a></span>
              </li>
            </ul>
            <div class="canvas_open">
              <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- page search box -->
<div class="page_search_box">
  <div class="search_close">
    <i class="ion-close-round"></i>
  </div>
  <form class="border-bottom" action="{% url 'search' %}">
    <input name="title" class="border-0" placeholder="Search products..." type="text">
    <button type="submit"><span class="pe-7s-search"></span></button>
  </form>
</div>